/* .block {
  background-color: red;
}

.block:hover {
  background-color: yellow;
  cursor: pointer;
} */
/* li:first-child {
  background-color: red;
}
li:last-child {
  background-color: green;
} */

/* li:nth-child(3) {
  background-color: blue;
}
.li:nth-child(odd) {
  background-color: blue;
}
.li:nth-child(even) {
  background-color: red;
}
a:visited {
  color: green;
} */
/* #block::before {
  content: "BEFORE ";
  color: red;
}

#block::after {
  content: " AFTER";
  color: blue;
} */
/* .block {
  width: 400px;
  height: 200px;
  background-color: grey;
  position: relative;
  padding-left: 5px;
  /* border-left: 5px blue solid; */
/* border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: blue;
  position: absolute;
  left: 0;
  border-radius: 5px;
} */

.parent {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.child {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
  /* position: relative; */
}
.grandson {
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  /* position: absolute fixed sticky;
  top: ;
  left: ;
  right: 0;
  bottom: ; */
}
