.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper__item {
  width: 200px;
  height: 200px;
  color: white;
  background-color: black;
  margin: 10px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 1000px) {
  .wrapper__item {
    background-color: red;
  }
}
@media (max-width: 500px) {
  .wrapper__item {
    background-color: green;
  }
}
